.row {
  text-align: center;
  display: flex;
  float: left;
  box-sizing: border-box;
}

.row .card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row img {
  text-align: center;
  display: block;
  width: 100%;
}

.row .horchata__img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.row .horchata__body {
  padding: var(--margin);
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.row h3,
.row .description,
.row .address,
.row .grade {
  display: flex;
  width: 100%;
  margin: 10px auto 10px;
}

.row h3 {
  width: 100%;
  height: auto;
}

.row .description,
.row .address {
  text-align: left;
  line-height: 1.3em;
}

.row .description p,
.row .address p {
  margin: 0 0 0 0;
  max-width: none;
  width: 90%;
  text-align: left;
}

.row .description {
  flex-grow: 1;
}

.row .description a {
  color: var(--color-2);
  display: block;
  margin: 0px 0 10px 0;
}

.row .address {
  border-top: 1px solid;
  padding: var(--margin) 0 0 0;
  align-self: flex-end;
  margin: auto 0 0 0;
}

.row .address a {
  color: var(--color-2);
  text-decoration: none;
  font-size: 0.8em;
}

.row .grade {
  text-align: left;
  display: block;
  margin: 0 auto 10px auto;
}
