.single {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto 20px auto;
  text-align: center;
  box-sizing: border-box;
}

.single .horchata__img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: var(--margin) 0 0 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.single .horchata__map {
  width: 100%;
  height: 50vh;
  display: block;
  margin: 0px auto 0 auto;
  border-radius: 0px 0 var(--margin) 0;
}

.single .horchata__map iframe {
  width: 100%;
  height: 100%;
  display: block;
}

.single .horchata__body {
  margin: var(--margin-2) auto var(--margin-2) auto;
  width: calc(100% - var(--margin-2) * 2);
}

.single .horchata__body .address {
  display: block;
  width: 100%;
  text-align: left;
}

.single .horchata__body .address {
  padding: var(--margin) 0 0 0;
  border-top: 1px solid $color2;
}

.single .horchata__body p {
  width: 100%;
  max-width: none;
}
