:root {
  --font: 'Open Sans', sans-serif;
  --max-width-desktop: 2024px;
  --max-width-mobile: 768px;

  --color-1: #fdf7f1;
  --color-2: #c76035;
  --color-3: #c1a670;
  --color-4: #ec7c46;

  --white: #ffffff;
  --gray-1: #f0f0f0;
  --gray-2: #e3e3e3;
  --gray-3: #999999;
  --gray-4: #666666;
  --gray-5: #333333;
  --gray-6: #0f0f0f;
  --black: #000000;

  --margin: 10px;
  --margin-2: calc(var(--margin) * 2);
}
