.social {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

.social li {
  display: block;
}

.social a {
  color: var(--color-1);
  transition: all 0.2s ease;
  display: block;
  padding: 5px;
}

.social a:hover {
  transform: translateY(-2px);
}

.social li:not(:last-child) {
  margin-right: var(--margin-2);
}

@media screen and (max-width: 40em) {
  .social {
    width: 100%;
    margin-bottom: var(--margin);
  }
}
