#header {
  width: 100%;
  margin: 0;
  margin-bottom: var(--margin-2);

  background: var(--color-2);
  border-bottom: 2px solid #ffa784;
}

#header .wrapper {
  margin-top: var(--margin);
  margin-bottom: var(--margin);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#header .logo {
  display: block;
  width: 50px;
  height: auto;
}

#header .logo-icon {
  width: 100%;
  height: auto;
  display: block;
}

#header nav {
  width: auto;
}

#header nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.2em;
}

#header nav ul li {
  display: inline-block;
  white-space: nowrap;
}

#header nav ul li:not(:last-child) {
  margin-right: var(--margin-2);
}

#header nav ul li a {
  color: var(--color-1);
  display: inline-block;
  text-decoration: none;
  text-align: center;
  vertical-align: center;
  transition: all 0.2s ease;
}

#header nav ul li a:hover {
  transform: translateY(-2px);
}

@media screen and (max-width: 60em) {
}

@media screen and (max-width: 40em) {
  #header nav {
    width: 100%;
    margin-bottom: var(--margin-2);
  }

  #header nav ul {
    justify-content: space-between;
  }
}
