* {
  box-sizing: border-box;
}

html {
  background-color: var(--color-1);
}

body {
  background-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--color-2);
  font-family: var(--font);
}


#root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  margin-bottom: var(--margin-2);
}

.wrapper {
  width: calc(100% - var(--margin-2));
  max-width: var(--max-width-desktop);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

.card {
  background: var(--white);
  box-shadow: 0 1px 2px #aaa;
  border-radius: 10px;
}

.rich-text h1 {
  font-size: 2em;
  margin: 0;
  margin-bottom: var(--margin-2);
  display: inline-block;
}

.rich-text p {
  max-width: var(--max-width-mobile);
  margin: 0;
}

.rich-text p:not(:first-child) {
  margin-top: var(--margin);
}

.rich-text blockquote {
  margin: 0;
  margin-top: var(--margin-2);
  width: auto;
  font-size: 1.2em;
  font-weight: 500;
  font-style: italic;
  display: inline-block;
}

p {
  font-size: 1.1em;
  text-align: left;
  line-height: 1.3em;
  margin: var(--margin-2) auto var(--margin-2) auto;
}

a {
  color: var(--color-2);
  text-decoration: none;
}

h3 {
  width: 100%;
  font-weight: 500;
  font-size: 1.5em;
  display: inline-block;
  text-align: left;
  margin: 10px 0 10px 0;
  line-height: 1.3em;
}

.button,
.buttonInv {
  padding: var(--margin) 12px var(--margin) 12px;
  text-align: center;
  transition: background 0.5s ease;
  cursor: pointer;
}

.button {
  border: 2px solid $color2;
  color: var(--color-2);
}

.button:hover,
.button.active {
  background: $color2;
  color: var(--color-2);
}

.buttonInv {
  border: 2px solid $color1;
  color: var(--color-1);
}

.buttonInv:hover,
.buttonInv.active {
  background: var(--color-1);
  color: var(--color-2);
}

@media screen and (max-width: 40em) {
  .hide-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 40em) {
  .hide-desktop {
    display: none !important;
  }
}
